# não sobe os arquivos do python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/

# não sobe o ambiente virtual
venv/
.env/
.env.local
*.swp

# uploads e dados locais
uploads/

# não sobe arquivos do jupyter notebooks 
# e desconsidera ele da contagem de linguagens do github
.ipynb_checkpoints/
*.ipynb_convert/
*.ipynb -linguist-detectable

# não sobe arquivos operacionais
.DS_Store
Thumbs.db

# não sobe arquivos do vscode
.vscode/
.history/

# não sobe as chaves da api do firebase
src/secrets/service-account.json